{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
